
.popup-login {
	display: none;
	&.active {
		position: absolute;
		z-index: 30;
		min-width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color:rgba(0, 0, 0, 0.9);
		// background-color:rgba(0, 0, 0, 1);
	}
}
.popup-main {
	width: 25rem;
	height: 35rem;
	overflow: hidden;
	// background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	background: linear-gradient(to bottom, #100d29, #433b97, #4c4cd6);
	border-radius: 3rem;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.label-login {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.input-login {
	width: 60%;
	height: 3rem;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.btn-login-form{
	width: 60%;
	height: 3rem;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	&:hover {
		background: #6d44b8;
	}
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
	& .label-login {
		color: #573b8a;
		transform: scale(.6);
	}
}

#chk:checked ~ .login{
	transform: translateY(-35rem);
}
#chk:checked ~ .login .label-login {
	transform: scale(1);	
}
#chk:checked ~ .signup .label-login{
	transform: scale(.6);
}
