.main {
  // align-items: flex-start !important; Зачем? нужно ли important?
  align-items: flex-start;
}

.page-section__title {
  text-align: center;
  font-size: 4rem;
  margin: 2rem 0;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;

  .benefits-list__item {
    width: 40%;
    font-size: 2rem;
    padding: 3rem;
  }
  h4 {
    font-size: 3rem;
    // background-color: red;
  }
  p {
    padding: 1rem;
  }
}

.wrap-iframe {
  height: 315px;
  width: 560px;
  margin: 0 auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  flex: 0.5 0.5 30%;
  // width: 100%;
  font-size: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: rgb(77, 77, 77);
  .card-photo {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    // background-color: purple;
  }
  .card-name {
    font-size: 4rem;
    margin: 1rem 0;
  }
  .card-desc {
    line-height: 2.6rem;
    margin: 1rem;
    font-size: 2rem;
  }
  #den {
    background-image: url('../assets/images/den.jpg');
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #ale {
    background-image: url('../assets/images/ale.jpg');
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #evg {
    background-image: url('../assets/images/evg.jpg');
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
@media (max-width: 767px) {
  .benefits-list {
    flex-direction: column;
  }
  .benefits-list {
    .benefits-list__item {
      padding: 1rem;
      width: 100%;
    }
    h4 {
      font-size: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .benefits-list {
    .benefits-list__item {
      padding: 1rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
}
.hidden {
  display: none !important;
}
