@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import '~normalize.css';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-size: 1.6rem;
  background-color: rgb(32, 32, 32);
  text-decoration: none;
  &.active {
    overflow: hidden;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 70vw;
  // background-color: red;
}

.header {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: chartreuse;
  // border-bottom: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.btn-nav,
.btn-login {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  background-color: green;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  span {
    position: absolute;
    width: 2.6rem;
    height: 5px;
    background-color: black;
    border-radius: 30px;
  }

  :nth-child(1) {
    position: absolute;
    transform: translateY(10px);
    transition: all 500ms ease-in-out;
  }

  :nth-child(2) {
    position: absolute;
    transform: rotateY(0deg);
    transition: all 700ms ease-in-out;
  }

  :nth-child(3) {
    position: absolute;
    transform: translateY(-10px);
    transition: all 500ms ease-in-out;
  }

  &.active {
    position: relative;

    :nth-child(1) {
      position: absolute;
      transform: rotate(-225deg);
      transition: all 500ms ease-in-out;
    }

    :nth-child(2) {
      position: absolute;
      transform: rotateY(90deg);
      transition: all 250ms ease-in-out;
    }

    :nth-child(3) {
      position: absolute;
      transform: rotate(225deg);
      transition: all 500ms ease-in-out;
    }
  }
}

.btn-login {
  position: relative;
  z-index: 33;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3ccircle class='cls-2' cx='12' cy='9.5' r='2.5'/%3e%3cpath class='cls-2' d='M10 14h4a2 2 0 0 1 2 2v1h0-8 0v-1a2 2 0 0 1 2-2Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
}

.nav {
  position: absolute;
  height: 100vh;
  padding: 6rem 1rem;
  right: 0;
  top: 0;
  background-color: cyan;
  z-index: 0;
  overflow-y: hidden;
  width: 19rem;
  .item-title {
    // display: none;
    margin-left: 0rem;
    transition: all 500ms ease-in-out;
  }
  &.wrapped {
    width: 9rem;
    transition: all 500ms ease-in-out;

    .item-title {
      // display: none;
      margin-left: -50rem;
      transition: all 500ms ease-in-out;
    }
  }

  .nav-list-items {
    padding: 1rem 1.9rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 2rem;
    background-color: blue;

    .nav-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .nav-item a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      background-color: brown;
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 100%;

      .icon-home,
      .icon-book,
      .icon-dictionary,
      .icon-game,
      .icon-statistics,
      .icon-team {
        width: 3.3rem;
        height: 3.3rem;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3cpath class='cls-2' d='M6.5 9.5h8v8h-8z'/%3e%3cpath class='cls-2' d='M9.5 9.5v-3h8v8h-3'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 130%;
      }

      .icon-home {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3cpath class='cls-2' d='M6.5 9.5h8v8h-8z'/%3e%3cpath class='cls-2' d='M9.5 9.5v-3h8v8h-3'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
      }

      .icon-book {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3cpath class='cls-2' d='M7 16V7h3a2 2 0 0 1 2 2v10'/%3e%3cpath class='cls-2' d='M7 16h3a2 2 0 0 1 2 2M17 16V7h-3a2 2 0 0 0-2 2M17 16h-3a2 2 0 0 0-2 2'/%3e%3cpath class='cls-2' d='M7 9H5v9h5v1h4v-1h5V9h-2'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
      }

      .icon-dictionary {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3cpath class='cls-2' d='M7 6v12h0a1 1 0 0 0 1 1h9V7H8a1 1 0 0 1-1-1h0a1 1 0 0 1 1-1h8v2'/%3e%3cpath class='cls-2' d='m10 15 2-4 2 4M10.5 14h3'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
      }

      .icon-game {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3cpath class='cls-2' d='M17 10a5 5 0 1 0-7 4.58V16h4v-1.42A5 5 0 0 0 17 10ZM10 18h4'/%3e%3cpath class='cls-2' d='m12 8-1 2h2l-1 2'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
      }

      .icon-statistics {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3cpath class='cls-2' d='M5 7h14v3H5zM6 10v7h12v-7M11 12h2'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
      }

      .icon-team {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-2%7bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round%7d%3c/style%3e%3c/defs%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cg id='Workspace'%3e%3cpath style='fill:none' d='M0 0h24v24H0z'/%3e%3cpath class='cls-2' d='M7 6v12h0a1 1 0 0 0 1 1h9V7H8a1 1 0 0 1-1-1h0a1 1 0 0 1 1-1h8v2'/%3e%3ccircle class='cls-2' cx='12' cy='11.5' r='1'/%3e%3cpath class='cls-2' d='M12 12.5h0a1.5 1.5 0 0 1 1.5 1.5v1.5h0-3 0V14a1.5 1.5 0 0 1 1.5-1.5Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
      }
    }
  }
}

.main {
  display: flex;
  justify-content: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 5vh;
  z-index: 9;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 100%;
  background-color: dimgray;
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .rs-logo {
    width: 5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('https://app.rs.school/static/images/logo-rsschool3.png');
  }
}
