@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import '~normalize.css';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  background-color: rgb(32, 32, 32);
  text-decoration: none;
}